*{
   box-sizing: border-box;
   padding:0;
   margin:0;
}


body{
   background-color: rgb(0, 0, 0);
   padding:0;
   
}


header{
   display:flex;
   flex-direction: column;
   background-color: #12012c;
   justify-content: space-evenly;
   margin:0;
   padding:0%;


}


h1{
   color:white;
   font-size:large;
   text-align: center;
   font-family: 'Cedarville Cursive', cursive;
   padding-bottom:10px;
   font-weight: normal;
}

.links{
   width :80%;
   margin: 0 auto;
}
.mobile{
   background-color: rgb(246, 145, 250);
   border-radius: 50px;
   padding:10px;
}

.list{
   font-family: 'Righteous', cursive;
   text-align: center;
   padding: 10px;
   


}

.h{
   text-align: center;
   font-family: 'Righteous', cursive;
   font-size:1.4rem;
   padding-top: 2px;;

}

.date{
   text-align: center;
   font-family: 'Righteous', cursive;
   font-size: 1rem;


}


nav{
   text-decoration: none;


}


nav ul{
   list-style-type: none;
   display:block;
   text-decoration: none;
   


}


nav li{
   color:white;
   text-decoration: none;
   text-align:center;
   font-size:2rem;
   list-style-type: none;
   font-family: 'Righteous', cursive;
   font-weight:normal;
   padding-bottom:8px;
   padding-top:10px;
   border-bottom:2px solid white;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #000000;




   
}


nav a{
   color:white;
   text-decoration: none;
   -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
   font-weight: normal;
}


.top{
   border-top: 2px solid white;
}


.welcome{
   background-color:#1b0046;
}


.girl{
   display:block;
   width:420px;
   height:420px;
   margin: 0 auto;
   
}


h2{
   color:white;
   text-align:center;
   font-family: 'Righteous', cursive;
   font-weight:normal;
   padding:10px;
   background-color: #000000;
}


span{
   color:#FF067E;
}


h3{
   font-size:4rem;
   color:#ffffff;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #000000;
   font-family: 'Righteous', cursive;
   text-align: center;
   font-weight:normal;
   padding-top:50px;
   padding-bottom:50px;


}


h4{
   font-size:2rem;
   color:#00FFC2;
   font-family: 'Righteous', cursive;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #000000;
   text-align:center;
   font-weight:normal;
   margin-bottom: 50px;
   text-align:center;


}


#container{
   display:flex;
   justify-content: center;
}


button{
   padding: 26px 42px;
   border:none;
   font-size:50px;
   background-color: #000000;
   color:#ffffff;
   cursor: pointer;
   margin: 4px 2px;
   scroll-behavior: smooth;
   margin-bottom:50px;
   font-family: 'Righteous', cursive;
   border-radius: 50%;


}


.grid{
   display:grid;
   background-color: #000000;
   margin:0;
   grid-gap: 30px;


}


img{
   width:100%;
}


figcaption{
   background-color: #000000;
}


.extra{
   padding-top:10px;
   min-width: 100%;
   max-width:100%;
   margin: 0 auto;
}




.pic-text{
   margin-top:-2.4em;
   background-color: rgb(255, 0, 0);
   color: #fff;
   width: 100%;
   padding: 10px;
   text-align: center;
   font-family: "Righteous";
   font-size: 1.5em;
   font-weight: bold;
   padding: 10px;


}


footer{
   background-color: #26012C;
   margin-top:10px;
}


footer p{
   color:white;
   text-align: center;
}


@media screen and (min-width: 630px), print {
   .grid{
      display:flex;
      flex-direction: row;
      padding:25px;
     
   }


   .extra{
      padding-top:20px;
      min-width: 90%;
      max-width:90%;
      margin: 0 auto;
      background-color:#000000;
      border-radius:50px;




   }


}


@media screen and (min-width: 1200px), print {
   header{
      display:flex;
      flex-direction: row;
      background-color:#12012c;
   }


   h1{
      float:left;
   }


   nav{
      text-decoration: none;
      padding-bottom:38px;
   
   }
   
   nav ul{
      list-style-type: none;
      display:inline-block;
      text-decoration: none;
      margin-left:150px;
     
   
   }
   
   nav li{
      color:white;
      text-decoration: none;
      font-size:1.5rem;
      list-style-type: none;
      font-family: 'Righteous', cursive;
      font-weight:normal;
       -webkit-text-stroke: 2px;
       -webkit-text-stroke-color: #000000;
       display:inline-block;
       border:none;
   }
   
   nav a{
      color:white;
      text-decoration: none;
      -webkit-text-stroke: 1px;
       -webkit-text-stroke-color: #000000;
      font-weight: normal;
      display:block;
      margin-left:50px;
   }


   .top{
      border-top:none;
   }


   .girl{
      display:block;
      width:500px;
      height:500px;
      margin-left: 50%;
      padding-top:15px;
     
     
   }


   h3{
      font-size:5rem;
      color:#ffffff;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #000000;
      font-family: 'Righteous', cursive;
      text-align: left;
      font-weight:normal;
      padding-top:50px;
      padding-bottom:50px;
      margin-right:40%;
      margin-top:-30rem;
      max-width:50%;
      padding-left:120px;
   }


   span{
      color:#FF067E;
   }
   
   h4{
      font-size:20px;
      color:#00FFC2;
      font-family: 'Righteous', cursive;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000000;
      text-align:center;
      font-weight:normal;
      margin-bottom: 50px;
      text-align:center;
      margin-right:62%;
      margin-top:-2rem;
      max-width:50%;
      padding-left:120px;
   
   }


   button{
      border:none;
      font-size:30px;
      background-color: #000000;
      color:#ffffff;
      cursor: pointer;
      margin: 6px 4px;
      scroll-behavior: smooth;
      margin-bottom:50px;
      margin-top:5px;
      font-family: 'Righteous', cursive;
      border-radius:60px;
      max-width:50%;
      margin-right:47%;
      padding-left:150px;
      padding-right:150px;
      


   
   }


   .extra{
      padding-top:10px;
      min-width: 50%;
      max-width:50%;
      margin: 0 auto;
   }


   .container{
      margin-top:-2rem;




   }


   .frame :hover{
      border: 8px solid #26012C;
   }


   main{
      display:grid;
      justify-content: space-evenly;
      grid-template-areas: "Flip-box-inner Flip-box-inner Flip-box-inner";


   }


   .flip-box{
      background-color:transparent;
      width:300px;
      height: 200px;
   }


   .flip-box-inner{
      position:relative;
      width:100%;
      height:100%;
      text-align:center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
   }


   .flip-box:hover .flip-box-inner{
      transform:rotateY(180deg);
   }


   .flip-box-front, .flip-box-back{
      position:absolute;
      width:100%;
      height:100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
   }


   .flip-box-front{
      background-color: #bbb;
      color:black;
   }


   .flip-box-back{
      background-color: #120043;
      color:#f1f1f1;
      transform: rotateY(180deg);;
   }

   .flip-box-back li{
       list-style-type: none;
       padding:1px;
       padding-bottom:5px;
       font-family: 'Righteous', cursive;
       font-weight: normal;
       font-size: 15px;


   }

   .flip-box-back h6{
      font-family: 'Righteous', cursive;
      font-weight:normal;
      background-color: #000000;
      font-size:1rem;
      padding:3px;

   }

   footer{
       position:relative;
       margin-top:1rem;
       background-color: #12012c;
   }

   .mobile{
      display:block;
      border-radius: 50px ;
   }

   .links{
      display:flex;
      flex-direction: column;
      min-width:60%;
      max-width:60%;
      margin: 0 auto;
      width:500px;

   }


}





